@{
    ViewBag.Title = "Corridas em Andamento";
}
@section banner{
    <div id="banner" class="row">
        <div class="col-lg-4 col-lg-pull-1 pull-right">
            <ul>
                <li>
                    <h1>1. <small>cadastre sua corrida</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
                <li>
                    <h1>2. <small>defina as regras</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
                <li>
                    <h1>3. <small>acompanhe resultados</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
            </ul>
        </div>
    </div>
}

