
@{
    ViewBag.Title = "Solicitação enviada";
}

<h4>Solicitação Enviada</h4>

<dl class="dl-horizontal">
    <dt>testeteçlk lkfçldkgçld d</dt>
    <dd>tesrterts suhshdlksdfjl.</dd>
</dl>

<div>
    @Html.ActionLink("Retornar", "Index", "Home")
</div>
